<html lang="en">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/resources/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
      <nav>
        <div class="row mynavbar" style="background-color: rgba(0, 0, 0, 0.85)">
          <a class="nav-link col" href="/"><h3>Home</h3></a>
          <a class="nav-link col" href="/proof"><h3>Proof Assistant</h3></a>
        </div>
      </nav>
      <title>DREAMCHEF</title>
      <script src="https://www.googletagmanager.com/gtag/js?id=G-Z3CV369SGB"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Z3CV369SGB');
      </script>
    </head>